.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, .3);
  &__container {
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.social {
  display: flex;
  align-items: center;
  &__item:not(:last-child) {
    margin-right: 40px;
  }
  &__link {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s all ease-in;
    &--fb {
      background-image: url("../img/first/fb.svg");
      width: 11px;
      height: 20px;
    }
    &--tw {
      background-image: url("../img/first/tw.svg");
      width: 20px;
      height: 17px;
    }
    &:hover {
      transition: .3s all ease-in-out;
      opacity: .8;
      transform: scale(1.2);
    }
  }
}

.logo {
  font-size: 22px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  transition: .5s all ease-in;
  &:hover {
    color: rgba(120, 175, 175, 0.78);
    transition: .5s all ease-in-out;
  }
}

