.slider-container {
  overflow-x: hidden;
  width: 100%;
  padding: 100px 0;
  margin-top: 50px;
}

.swiper-slide {
  position: relative;
  background: transparent;
  min-height: 550px;
  width: 890px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform .3s;
  overflow: hidden;
  cursor: grab;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.73) 100%);
    opacity: 0;
    transition: opacity .3s;
  }
  &video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:active {
    cursor: grabbing;
  }
}

.main-slider {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  &__text {
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2.182px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--neptune-color);
    color: var(--white-color);
  }
}

.first__slider-btn {
  position: absolute;
  left: 50px;
  bottom: 53px;
  width: 14px;
  height: 14px;
  z-index: 5;
}

.btn-right {
  left: auto;
  right: 50px;
  background: url("../img/first/arrow-right.svg") center/cover no-repeat;
}

.btn-left {
  background: url("../img/first/arrow-left.svg") center/cover no-repeat;
}

.main-slider {
  &__media {
    max-height: 275px;
    video {
    width: 502px;
    height: 100%
    }
  }
  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    width: 32px;
    height: 42px;
    background: url("../img/slider/play.svg") center/cover no-repeat;
    z-index: 10;
  }
}

.swiper-slides {
  border-radius: 8px;
  background: #e3e3e3;
}

.slider-container .swiper-slide-active {
  transform: scaleX(1.16) scaleY(1.2);
  transition: transform .3s;
  &::after {
    opacity: 1;
    transition: opacity .3s;
  }
}

.slide-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: var(--white-color);
  position: relative;
  z-index: 5;
  padding: 0 0 40px 40px;
  transition: transform .3s;
  transform: translateY(200px);
}

.swiper-slide-active .slide-title {
  transition: transform .3s;
  transform: translateY(0);
}

.slide-1 {
  background: url("../img/slider/slider-1.jpg") center/cover no-repeat;
}

.slide-2 {
  background: url("../img/slider/slider-2.jpg") center/cover no-repeat;
}

.slide-3 {
  background: url("../img/slider/slider-3.jpg") center/cover no-repeat;
}

.slide-4 {
  background: url("../img/slider/slider-4.jpg") center/cover no-repeat;
}

.slide-play {
  position: absolute;
  left: 40px;
  top: 30px;
  width: 112px;
  height: 112px;
  background: url("../img/slider/video.svg") center/cover no-repeat;
}

